
.LinkField {
	list-style-type:none;
	padding-left:0;
	margin-top:0;
}

.LinkField .field {
	padding-left:20px;
	display:none;
}

.LinkField .selected .field {
	display:block;
}

.LinkField label {
	font-size:11px;
	cursor:pointer;
	vertical-align:center;
}
.LinkField .selected label {
	font-weight:bold;
}